@use "../../sass/abstract" as *;

.track {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;

  &__content {
    position: sticky;
    top: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-color: rgba(10, 9, 8, 0.445);
    border-radius: inherit;
  }

  &__progress {
    position: fixed;
    top: 1rem;
    left: 4rem;
    font-size: 4rem;
    color: aqua;
    z-index: 10;
  }

  &__track {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    overflow-x: hidden;
    @include mainScrollbar();
    scrollbar-gutter: stable both-edges;
  }

  &__rail {
    font-size: 8rem;
    height: 150%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 105, 94, 0.438);
  }

  &__title {
    position: absolute;
    left: 50%;
    color: aliceblue;
    font-size: 4rem;
    text-align: center;
    transition: top 0.4s ease;
    z-index: 5;

    & > div {
      height: 0;
      transition: height 0.4s ease;

      &:nth-child(3) {
        transition-delay: 0.5s;
      }
    }
  }

  &__test {
    height: 200%;
    position: relative;
    &__content {
      position: sticky;
      height: calc(100vh - 3.6rem * 2);
      top: 0;
      font-size: 8rem;
      color: rgb(236, 44, 30);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

section {
  height: 100%;
  width: 100%;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(236, 44, 30);
}
