@use "./abstract" as *;

:where(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:where(html) {
  font-size: 62.5%;
  background-color: var(--bg-color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:where(body) {
  font-size: 1.6rem;
  // min-height: 100vh;
  // min-height: 100svh;
}

:where(button) {
  font-size: 10rem;
}

:where(#root) {
  height: inherit;
}

// #root {
//   height: 100vh;
//   height: 100svh;
// }

.App {
  height: 100vh;
  height: 100svh;
  // height: inherit;
  position: relative;
}
