@use "../sass/abstract" as *;

.main {
  width: 100%;
  padding: 3.6rem 1.6rem;
  box-sizing: border-box;
  height: inherit;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1;
    position: relative;
  }

  &__border {
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border: 0.2rem solid rgba(68, 156, 238, 0.35);
    border-radius: 1.2rem;
    transition: all 0.4s ease;
  }

  &__track {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
  }

  &__nav {
    position: absolute;
    top: -1rem;
    right: 4rem;
    display: flex;
    gap: 1rem;
    z-index: 2;

    & > a {
      height: 5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      font-size: 2.4rem;
      border: 0.2rem solid rgba(52, 128, 243, 0.274);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
  }
}

.section {
  width: 100%;
  height: 100%;
}
